@import "tailwindcss";


h1{
    @apply text-orange-700 text-3xl;
}
h2{
    @apply  text-sky-800 ;
}

input{
    @apply w-80 border rounded-md p-1 mt-2;
}
label{
    @apply text-sky-800;
}


.wrapper {
    @apply max-w-screen-xl md:mx-auto;
  }

@theme{
    --color-sepia-100: #f5f2f2;
}

html {
  scroll-behavior: smooth;
}

#acerca{
    scroll-margin-top: 65px
}
#beneficios{
    scroll-margin-top: 65px
}
#informes{
    scroll-margin-top: 65px
}

/* Fondos de cada sección */

#seccion2{
    background-image: url('/img/bg_secc2_der.png'), url('/img/bg_secc2_izq.png'); 
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
}

#seccion3{
    background-image: url('/img/bg_secc3_der.png'), url('/img/bg_secc3_izq.png'); 
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;

}

/* #seccion4{
    background-image: url('/img/bg_secc2_der.png'), url('/img/bg_secc2_izq.png'); 
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
} */
#seccion5{
    background-image: url('/img/bg_secc3_der.png'), url('/img/bg_secc3_izq.png'); 
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;

}


@media(max-width: 1400px){

    #seccion2{
        background-image: url('/img/bg_secc2_izq.png'); 
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #seccion3{
        background-image: url('/img/bg_secc3_der.png'); 
        background-position:  right;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
